[user]
  name = Bruno Mello
  email = bruno.barros.mello@gmail.com
[alias]
  ci = commit
  co = checkout
  cm = checkout main
  cb = checkout -b
  st = status -sb
  sf = show --name-only
  lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
  unstage = reset HEAD --
  undo = checkout --
  rollback = reset --soft HEAD~1
  ps = push
  pl = pull
[core]
  editor=nvim
	autocrlf = false
[pull]
	rebase = false
[init]
	defaultBranch = main
[url "git@github.com:OlaIsaac"]
	insteadOf = https://github.com/OlaIsaac
